<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= number_to_word(@user.errors.count) %>
      <%= "error".pluralize(@user.errors.count) %>
    </div>
    <ul>
      <% @user.errors.full_messages.each do |error| %>
      <li> <%= error %> </li>
      <% end %>
    </ul>
  </div>
  <% end %>
