<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= number_to_word(object.errors.count) %>
      <%= "error".pluralize(object.errors.count) %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |error| %>
      <li> <%= error %> </li>
      <% end %>
    </ul>
  </div>
  <% end %>
